<!-- Sidebar menu-->
 
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
			<aside class="app-sidebar">
				<div class="sidebar-img">
					<a class="navbar-brand" href="index-2.html"><img alt="..." class="navbar-brand-img main-logo" src="assets/img/brand/logo-dark.png"> <img alt="..." class="navbar-brand-img logo" src="assets/img/brand/logo.png"></a>
					<ul class="side-menu">
						<li class="slide">
							<a class="side-menu__item active" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li>
									<a class="slide-item" href="index-2.html">Retail Sales Dashboard</a>
								</li>
								<li>
									<a class="slide-item" href="dashboard-social.html">Social Dashboard</a>
								</li>
								<li>
									<a class="slide-item" href="dashboard-marketing.html">Marketing Dashboard</a>
								</li>
								<li>
									<a class="slide-item" href="dashboard-it.html">IT Dashboard</a>
								</li>
								<li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">Cryptocurrency Dashboard</a>
								</li>

							</ul>
						</li>
						<div id="nav-menu">

						</div>
					</ul>
				</div>
			</aside>
			<!-- Sidebar menu-->